
.wrapper{	
	margin-top:auto ;
	margin-bottom: auto;
	display: block;
	position: relative;
	max-height: 100%;
	height: auto;
}
.imgDiv{
	z-index: -100;
	margin-top:auto ;
	margin-bottom: auto;
	display: block;
	position: relative;
	height: auto;

}
.buttonDiv{
	z-index: 10;
	postion:sticky;
	margin-top: -25%;
	padding-bottom: 20%;
}
.userPageDiv, .landingPageDiv{
  /*background-image: url(http://blogs.reuters.com/great-debate/files/2013/08/mlk-march-on-dc-1024x788.jpg);
  background-repeat: no-repeat;*/
  background: lightgray;
  background-size: 100% 100%;
}
