.squareFrame{
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: .3em;
  margin-top: .3em;
  border-radius: 50%;
  overflow: hidden;
}
.imageContainer1 {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
/*.repImg{
	display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;

}*/
.ui.card{
  min-width: 145px;
}
