.squareFrame{
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: .3em;
  margin-top: .3em;
  border-radius: 50%;
  overflow: hidden;
}
.imageContainer1 {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
/*.repImg{
	display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;

}*/
.ui.card{
  min-width: 145px;
}
.App{
  background-image: url(http://blogs.reuters.com/great-debate/files/2013/08/mlk-march-on-dc-1024x788.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html{
  height:100%;
}