.UserRepCard {
    width: 15vw;
    background: gray;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ui.small.image{
	padding-top: 10px;
	display: block;
	margin: auto;
}
.RepCardDiv{
	background: gray;
}
.UserRepCard{
	background: lightgray;
}
