.UserRepCard {
    background: #006286;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.ui.small.image{
	padding-top: 10px;
	display: block;
	margin: auto;
}
.RepCardDiv{
	background: #006286;
}
.UserRepCard{
	background: #006286;
}
/*.theRepCard{
	min-width: 100%;
}*/